.Sec2{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    @media (max-width:992px) {   
        flex-direction: column;
    }
    .head{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .left{
        padding: 20px;
        flex: 3;
        background-color: white;
        border-radius: 15px;
        border: 1px solid rgb(235, 235, 235);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width:768px) {   
            min-width: 450px;
        }
        
    }
    .right{
        padding: 20px;
        background-color: white;
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 15px;
        @media (min-width:768px) {   
            min-width: 230px;
        }
        .head{
            display: flex;
            justify-content: space-between;
            @media (max-width:500px) {   
                flex-direction: column;
            }
        }
        .body{
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding-top: 20px;
            justify-content: center;
            .item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                text-align: center;
                .icon{
                    background-color: #00BDAE;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    color: white;
                    border-radius: 10px;
                }
                h4{
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }
    }
}